/* Container grid */
.contact-grid {
  display: grid;
  margin: auto 0;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Kotak di dalam grid */
.card {
  display: flex;
  flex-direction: column; /* susun vertikal */
  justify-content: center; 
  align-items: center;     /* rata tengah horizontal */
  text-align: center;      /* supaya teks di h3 dan p ikut ke tengah */
  padding: 20px;
  background: #f7f7f7;
  border-radius: 10px;
  border: 1px solid #ddd;
  width: 200px;
  height: 200px;
  font-size: 50px;
}


.card h3 {
  margin-bottom: 8px;
  font-size: 0.5em;
  color: #333;
}

.card p {
  font-size: 0.25em;
  color: #555;
}

.card .icon-wrapper img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
