#education-skill {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: flex-start;
}

#education-skill article,
#education-skill aside {
  flex: 1;
}

.skill-list {
  list-style: none;
  padding: 0;
}
.skill-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.skill-item img {
  margin-right: 15px;
}
.progress {
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  height: 10px;
   max-width: 250px; 
}
.progress-fill {
  height: 100%;
  border-radius: 10px;
}
